.small-12 {
  padding-right: 20px;
  padding-left: 20px;
}

.new-point-button {
  margin-top: 20px;
}

#game-delete {
  margin-left: 20px;
}

ul {
  margin-left: 0px;
}

body {
  background-color: #b4f2e1;
}

img {
  border: solid;
  border-radius: 15px;
}

button {
  font-weight: 400;
  font-family: sans-serif;
  width: 160px;
  height: 50px;
  background-color: #77d8d8;
  border-radius: 15px;
  border: solid;
}

.new-list-buttons {
  margin-bottom: 20px;
}

button:hover {
  font-weight: 800;
  font-family: sans-serif;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #58b4ae;
  cursor: pointer;
}

a {
  // color: #fa9191;
  //color: black;
  color: #0779e4;
}

a:hover {
  color: #eb6383;
  // color: black;
  font-weight: bold;
}

.actions > input {
  font-weight: 400;
  font-family: sans-serif;
  width: 160px;
  height: 50px;
  background-color: #77d8d8;
  border-radius: 15px;
  border: solid;
}

.actions > input:hover {
  font-weight: 800;
  font-family: sans-serif;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #58b4ae;
  cursor: pointer;
}

#webpage-grid {
  padding: 30px;
  border: solid;
  border-radius: 15px;
  background-color: #fa9191;
}

.grid-container {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.game-title {
  color: #fa9191;
}

.game-title:hover {
  color: #eb6383;
  font-weight: bold;
}

li {
  background-color: #ffe9c5;
}

.game-tiles {
  border: solid;
  background-color: #ffe9c5;
}

.top-bar {
  background-color: #ffe9c5;
}

p {
  color: #00263b;
  font-family: VT323;
  font-size: 24px;
}

label {
  color: #00263b;
  font-family: VT323;
  font-size: 24px;
}

.underline {
  text-decoration: underline;
}
