.progress {
  height: 50px;
  // background-color: #eb6383;
  // background-color: #bd6b73;
  background-color: #f4f4ed;
  margin-bottom: 16px;
}

.progress-clicked {
  // font-weight: 800;
  font-family: sans-serif;
  // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  // background-color: #77d8d8;
  // background-color: #02c39a;
  background-color: #a5ffd6;
  cursor: pointer;
  border-radius: 0px;
  margin-bottom: 16px;
}

.progress:hover {
  // font-weight: 800;
  font-family: sans-serif;
  // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  // background-color: #77d8d8;
  // background-color: #02c39a;
  background-color: #84dcc6;
  cursor: pointer;
  border-radius: 0px;
  margin-bottom: 16px;
}

.progress-beat {
  // font-weight: 800;
  font-family: sans-serif;
  // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  // background-color: #ffd31d;
  // background-color: #c6c8ee;
  // background-color: #c6c8ee;
  background-color: #84dcc6;
  cursor: pointer;
  border-radius: 0px;
  margin-bottom: 16px;
}

.small-12 {
  padding-right: 20px;
  padding-left: 20px;
}

.featured-game {
  font-size: 32px;
  // font-style: italic;
  font-family: VT323;
  // color: #b4f2e1;
  // color: #C6C8EE;
  color: black;
  // text-shadow: 1px 0 0 black;
}

#featured-game-button {
  background-color: #C6C8EE;
  font-size: 32px;
  font-family: VT323;
  color: black;
  width: 220px;
}

#featured-game-button:hover {
  background-color: #BBB6DF;
  font-size: 32px;
  font-family: VT323;
  color: black;
}

.featured-game:hover {
  // font-size: 32px;
  // font-style: italic;
  // font-family: VT323;
  // color: #b4f2e1;
  color: #BBB6DF;
  // text-shadow: 1px 0 0 black;
}

#user_email {
  width: 250px;
}

#user_password {
  width: 250px;
}

#user_user_name {
  width: 250px;
}

#user_password_confirmation {
  width: 250px;
}

.game-crossing {
  // text-shadow: 1px 0 0 black;
  color: black;
  font-family: sans-serif;
}

.new-point-button {
  padding-top: 40px;
  padding-bottom: 20px;
}

.game-buttons {
  margin: 10px;
  background-color: #C6C8EE;
}

.game-buttons:hover {
  margin: 10px;
  background-color: #BBB6DF;
}

#delete-game {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#delete-game:hover {
  background-color: #BBB6DF;
}

#back-to-collection:hover {
  background-color: #BBB6DF;
}

#add-new-game:hover {
  background-color: #BBB6DF;
}

ul {
  margin-left: 0px;
}

body {
  // background-color: #fa9191;
  background-color: #fcfcff;
}

img {
  border: solid;
  border-radius: 15px;
}

button {
  font-weight: 400;
  font-family: sans-serif;
  width: 160px;
  height: 50px;
  // background-color: #77d8d8;
  background-color: #C6C8EE;
  border-radius: 15px;
  border: solid;
}

.new-list-buttons {
  margin-bottom: 20px;
}

#rawg {
  font-weight: bold;
}

#rawg:hover {
  font-weight: bold;
  color: #C6C8EE;
}


button:hover {
  // font-weight: 800;
  // font-family: sans-serif;
  // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  // background-color: #58b4ae;
  // background-color: #a5ffd6;
  // background-color: #BBB6DF;
  cursor: pointer;
}

a {
  color: #fa9191;
}

a[href="/users/sign_in"] {
  color: black;
  font-family: sans-serif;
  font-size: 24px;
}

a[href="/users/sign_in"]:hover {
  // color: black;
  color: #c6c8ee;
  font-family: sans-serif;
  font-size: 24px;
}

a[href="/users/sign_out"] {
  color: black;
  font-family: sans-serif;
  font-size: 24px;
}

a[href="/users/sign_out"]:hover {
  // color: black;
  color: #c6c8ee;
  font-family: sans-serif;
  font-size: 24px;
}

a[href="/users/sign_up"] {
  color: black;
  font-family: sans-serif;
  font-size: 24px;
}

a[href="/users/sign_up"]:hover {
  // color: black;
  color: #c6c8ee;
  font-family: sans-serif;
  font-size: 24px;
}

a[href="/users/password/new"] {
  color: black;
  font-family: sans-serif;
  font-size: 24px;
}

a[href="/users/password/new"]:hover {
  // color: black;
  color: #c6c8ee;
  font-family: sans-serif;
  font-size: 24px;
}

.grid-container > h1 > a {
  // font-family: VT323;
  // color: #fa9191
  color: black;
}

a:hover {
  // color: #eb6383;
  color: #c6c8ee;
  // font-weight: bold;
}

#title {
  // background-color: #EDEEF1;
  border: solid;
}

#image {
  // background-color: #EDEEF1;
  border: solid;
}

#start_date {
  // background-color: #EDEEF1;
  border: solid;
}

#time_played {
  // background-color: #EDEEF1;
  border: solid;
}

#progress {
  // background-color: #EDEEF1;
  border: solid;
}

.actions > input {
  // font-weight: 400;
  font-family: sans-serif;
  width: 160px;
  height: 50px;
  // background-color: #77d8d8;
  background-color: #C6C8EE;
  border-radius: 15px;
  border: solid;
}

.actions > input:hover {
  // font-weight: 800;
  font-family: sans-serif;
  // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  // background-color: #58b4ae;
  background-color: #BBB6DF;
  cursor: pointer;
}

#webpage-grid {
  padding: 30px;
  border: solid;
  border-radius: 15px;
  // background-color: #b4f2e1;
  background-color: #f4f4ed;
}

.grid-container {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.game-title {
  // color: #fa9191;
  color: black;
  font-weight: bold;
}

.game-title:hover {
  // color: #eb6383;
  // font-weight: bold;
  color: #c6c8ee;
}

li {
  background-color: #F4F4ED;
}

li > a {
  color: black;
  font-family: sans-serif;
}

li > a:hover {
  // color: black;
  color: #c6c8ee;
  font-family: sans-serif;
}

.game-tiles {
  border: solid;
  // background-color: #ffe9c5;
  background-color: #fcfcff;

}

.top-bar {
  // background-color: #ffe9c5;
  background-color: #f4f4ed;
}

#game-show-padding-top {
  padding-top: 40px;
}

#game-show-padding-bottom {
  padding-bottom: 20px;
}

p {
  color: #00263b;
  font-family: VT323;
  font-size: 24px;
}

label {
  color: #00263b;
  font-family: VT323;
  font-size: 24px;
}

// .underline {
//   text-decoration: underline;
// }
